.tab-pane .tab-header-background {
    -fx-opacity: 20;
}

.tab-pane
{
    -fx-tab-min-width:120px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #555963;
}

.tab-pane .tab:disabled
{
    -fx-background-color: #7A8494;
}


.tab-pane .tab:selected
{
    -fx-background-color: #383B42;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #C4B9EF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #9EA5F3;
}

.tab:disabled .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #E4E7ED;
}

.anchor-pane
{
    -fx-background-color: #383B42;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}

.hbox {
  -fx-background-color: #555963;
}
